/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    color: #333;
    background-color: #e6e6e6;
}



a {
    text-decoration: none;
    color: #1b98f8;
}

h2, h4 {
    text-align: center;
}


h4.sub-title {
    margin-top: -15px;
    font-weight: normal; 
}

/*
 * -- HELPER STYLES --
 * Over-riding some of the .pure-button styles to make my buttons look unique
 */
.primary-button,
.secondary-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 20px;
}
.primary-button {
    color: #fff;
    background: #1b98f8;
    margin: 1em 0;
}
.secondary-button {
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 2em;
    font-size: 80%;
}

/*
 * -- LAYOUT STYLES --
 * This layout consists of three main elements, `#nav` (navigation bar), `#list` (email list), and `#main` (email content). All 3 elements are within `#layout`
 */
#layout, #nav, #list, #main {
    margin: 0;
    padding: 0;
}


/* Make the navigation 100% width on phones */
#nav {
    width: 100%;
    height: 40px;
    position: relative;
    background: #f0f0f0;;
    text-align: center;
}
#bleed {
    width: 100%;
    height: 40px;
    position: relative;
    background: #b3b2b2;
    text-align: center;
}
/* Show the "Menu" button on phones */
#nav .nav-menu-button {
    display: block;
    top: 0.5em;
    right: 0.5em;
    position: absolute;
}

/* When "Menu" is clicked, the navbar should be 80% height */
#nav.active {
    height: 80%;
}
/* Don't show the navigation items... */
.nav-inner {
    display: none;
}

/* ...until the "Menu" button is clicked */
#nav.active .nav-inner {
    display: block;
    padding: 2em 0;
}


/*
 * -- NAV BAR STYLES --
 * Styling the default .pure-menu to look a little more unique.
 */
#nav .pure-menu {
    background: transparent;
    border: none;
    text-align: left;
}
    #nav .pure-menu-link:hover,
    #nav .pure-menu-link:focus {
        background: rgb(55, 60, 90);
    }
    #nav .pure-menu-link {
        color: #fff;
        margin-left: 0.5em;
    }
    #nav .pure-menu-heading {
        border-bottom: none;
        font-size:110%;
        color: rgb(75, 113, 151);
    }


/*
 * -- EMAIL STYLES --
 * Styles relevant to the email messages, labels, counts, and more.
 */
.email-count {
    color: rgb(75, 113, 151);
}

.email-label-personal,
.email-label-work,
.email-label-travel {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 0.5em;
    border-radius: 3px;
}
.email-label-personal {
    background: #ffc94c;
}
.email-label-work {
    background: #41ccb4;
}
.email-label-travel {
    background: #40c365;
}


/* Email Item Styles */
.email-item {
    padding: 0.9em 1em;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;
}
    .email-avatar {
        border-radius: 3px;
        margin-right: 0.5em;
    }
    .email-name,
    .email-subject {
        margin: 0;
    }
    .email-name {
        text-transform: uppercase;
        color: #999;
    }
    .email-desc {
        font-size: 80%;
        margin: 0.4em 0;
    }

.email-item-selected {
    background: #eee;
}
.email-item-unread {
    border-left: 6px solid #1b98f8;
}

/* Email Content Styles */
.email-content-header, .email-content-body, .email-content-footer {
    padding: 1em 2em;
}
    .email-content-header {
        border-bottom: 1px solid #ddd;
    }

        .email-content-title {
            margin: 0.5em 0 0;
        }
        .email-content-subtitle {
            font-size: 1em;
            margin: 0;
            font-weight: normal;
        }
            .email-content-subtitle span {
                color: #999;
            }
    .email-content-controls {
        margin-top: 2em;
        text-align: right;
    }
        .email-content-controls .secondary-button {
            margin-bottom: 0.3em;
        }

    .email-avatar {
        width: 40px;
        height: 40px;
    }


/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 40em) {

    /* Move the layout over so we can fit the nav + list in on the left */
    #layout {
        padding-left:500px; /* "left col (nav + list)" width */
        position: relative;
    }

    /* These are position:fixed; elements that will be in the left 500px of the screen */
    #bleed, #nav, #list {
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: visible;
    }
    #nav {
        margin-left:-475px; /* "left col (nav + list)" width */
        width:150px;
        height: 100%;
    }
    #bleed {
        /* margin-left:-500px; */ /* "left col (nav + list)" width */
        width:25px;
        height: 100%;
        left: 0pt;
    }
    /* Show the menu items on the larger screen */
    .nav-inner {
        display: block;
        padding: 2em 0;
    }

    /* Hide the "Menu" button on larger screens */
    #nav .nav-menu-button {
        display: none;
    }

    #list {
        /* margin-left: -470px; */
        width: 96.5%;
        height: 33%;
        border-bottom: 0px solid #ddd;
        left: 30px;
    }

    #main {
        position: fixed;
        top:36.3%;
        right: 0;
        bottom: 0;
        left: 30px;
        overflow: auto;
        width: auto; /* so that it's not 100% */
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 60em) {

    /* This will take up the entire height, and be a little thinner */
    #list {
        /* margin-left: -470px; */
        width:350px;
        height: 100%;
        border-right: 0px solid #ddd;
        left: 30px;
    }

    /* This will now take up it's own column, so don't need position: fixed; */
    #main {
        position: static;
        margin: 0;
        padding: 0;
        margin-left: -125px;
        width: 125%;
}
    }
}


/*Override*/
.pure-menu-list {
    list-style: none;
    margin: 0;
    padding: 19pt;
}

.pure-menu-item {
    padding: 0 0 10pt 0;
    margin: 0 0 15pt 0;
    height: 100%;
    clear: both;
}

.pure-menu-item  a {
    float: left;
    line-height: 1.5em;
}

.iconify { width: 24px; height: 24px; ; float: left}

a.web {
    background: url('https://api.iconify.design/mdi:web.svg') no-repeat left center / contain;
    padding-left: 22pt;
}

a.web-link {
    background: url('https://api.iconify.design/websymbol:link.svg?color=%231f74a0') no-repeat left center / contain;
    padding-left: 20pt;
}

a.linkedin {
    background: url('https://api.iconify.design/jam:linkedin-circle.svg') no-repeat left center / contain;
    padding-left: 22pt;
}

a.portfolio {
    background: url('https://api.iconify.design/bytesize:portfolio.svg') no-repeat left center / contain;
    padding-left: 22pt;
}

.profile-photo {
    /* background: url(https://api.iconify.design/et:profile-male.svg) no-repeat center center / contain; */
    background: url('https://api.iconify.design/mdi:face-profile.svg?color=%231f74a0') no-repeat center center / contain;
    height: 146px;
}

.max-width {
    width: 97% !important; 
}

/* BASIC */
.card {
    background: white;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    margin: 4pt 4pt 0pt 0pt;
    min-height: 300px;
    padding: 10px;
}

.card .email-item {
    margin-bottom: 1em;
}


/* Profile */
#profile {
    background: url('https://api.iconify.design/icomoon-free:profile.svg?color=%231f74a0') no-repeat left top / contain;
    background-size: 30px;
    padding-left: 30pt;
    margin-top: 1em;
} 

/* Work */
#work {
    background: url('https://api.iconify.design/whh:workshirt.svg?color=%231f74a0') no-repeat left top / contain;
    background-size: 30px;
    padding-left: 30pt;
    margin-top: 1em;
} 

/* Awards */
#awards {
    background: url('https://api.iconify.design/et:trophy.svg?color=%231f74a0') no-repeat left top / contain;
    background-size: 27px;
    padding-left: 30pt;
    margin-top: 1em;    
}

/* Tranings */
#trainings {
    background: url('https://api.iconify.design/mdi:file-certificate-outline.svg?color=%231f74a0') no-repeat left top / contain;
    background-size: 30px;
    padding-left: 30pt;
    margin-top: 1em;    
}


/* Education */
#education {
    background: url('https://api.iconify.design/carbon:education.svg?color=%231f74a0') no-repeat left top / contain;
    background-size: 30px;
    padding-left: 30pt;
    margin-top: 1em;    
}

/* Skills */
#skills {
    background: url('https://api.iconify.design/mdi:progress-wrench.svg?color=%231f74a0') no-repeat left top / contain;
    background-size: 30px;
    padding-left: 30pt;
    margin-top: 1em;    
}

#profile .title,
#work .title,
#education .title,
#skills .title,
#awards .title,
#trainings .title {
    text-transform: uppercase;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 0 5px 0;
    font-weight: bold;
    color: #1f74a0;
}

#profile .body,
#work .body,
#education .body,
#skills .body,  
#awards .body,
#trainings .body   {
    padding: 15pt 0;
}

#skills .body .skill-info {
    font-weight: bold;
}

#skills .body .skill-divider {
    border-top: 1px solid #e6e6e6;
    margin-top: 1em;
    padding-top: 1em;
}

#skills .body .skill-info .skill-name {
    font-weight: normal;
}

#skills .body .skill-info .type{
    padding-bottom: 11px;
    display: block;
}

#skills .button-skill {
    /* background: #479012d6; */
    background: #1a83d2;
    color: #ffffff;
    border-radius: 6px;
    font-weight: normal;
    font-size: smaller;
    margin: 2px 0;
}

#awards .body .title,
#trainings .body .title {
    font-weight: bold;
    border: none;
}

#education .horizontal-divider,
#work .horizontal-divider {
    /* border-left: 1px solid; */
    /* background-color: #1a83d2; */
    background-color: #c9ccce;
    width: 2px;
    margin-right: 10px;
}

#education .body .education-info {
    background: url(https://api.iconify.design/octicon:calendar.svg?color=%231f74a0) no-repeat left top / contain;
    background-size: 30px;
    padding-left: 45px;
    padding-bottom: 25px;
    margin-left: -28px;
    background-position-x: 1px;
}

#education .body .education-info .course {
    font-weight: bold;
}

#education .body .education-info .school {
    font-style: italic;
}

#work .body .work-info {
    /* background: url(https://api.iconify.design/octicon:milestone.svg?color=%231f74a0) no-repeat left top / contain; */
    /* background: url('https://api.iconify.design/carbon:milestone.svg?color=%231f74a0') no-repeat left top / contain; */
    background: url('https://api.iconify.design/heroicons-solid:office-building.svg?color=%231f74a0') no-repeat left top / contain;
    background-size: 32px;
    padding-left: 45px;
    padding-bottom: 25px;
    margin-left: -28px;
    background-position-x: 1px;
}

#work .body .work-info .job {
    padding-top: 15px;
    background: url(https://api.iconify.design/ic:round-person-pin-circle.svg?color=%231f74a0) no-repeat left center / contain;
    background-size: 24px;
    background-position-y: 13px;
    margin-left: -40px;
    padding-left: 40px;
}

#work .body .work-info .job-title {
    font-weight: bold;
}

#work .body .work-info .company {
    font-weight: normal;
    /* color: #606d76; */
    color: #1f74a0;
}
#work .body .work-info .company::before {
    content: "| ";
}

#work .body .work-info .employment-type {
    font-weight: normal;
    font-style: italic;
    color: #606d76;
}

#work .body .work-info .employment-type {
    font-weight: normal;
    color: #606d76;
}

#work .body .work-info .duration {
    background: url(https://api.iconify.design/si-glyph:time-glass.svg?color=%231f74a0) no-repeat left bottom / contain;
    padding-left: 20px;
    font-style: italic;
    padding-top: 7px;
    background-size: 21px;
}

#trainings .body .training {
    padding-bottom: 25px;
}

#trainings .body .training .organizer {
    text-transform: none;
    font-weight: normal;
    color: #606d76; 
    font-style: italic;
}

#trainings .body .training .organizer::before {
    font-weight: normal;
    color: #606d76; 
    content: "@ ";
}

/* #duties ul li { 
    list-style-image: url(https://api.iconify.design/ion:checkmark-done-circle-outline.svg?color=%231f74a0); 
}  */

#duties ul{ 
    margin-left: -40px; 
    list-style: none;
    margin-bottom: 0px;
}

#duties ul li{
    padding: 0 0 1em 24px;
    background: url(https://api.iconify.design/ion:checkmark-done-circle-outline.svg?color=%231f74a0) no-repeat; 
} 